.outer {
  width: 100%;
  column-gap: 0;
}

.inner {
  border: .1rem;
  border-color: black;
  border-style: solid;
  text-align: center;
  position: relative;
}

.inner img {
  width: 100%;
  height: auto;
  display: block;
}
.inner::after {
  background-image: linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
  background-size: cover;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.inner>h2 {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  z-index: 1;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  color: white;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
